# Compiled JavaScript files
**/*.js
**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

firebase-debug.log
firebase-debug.1.log
firestore-debug.log
ui-debug.log
